<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AscentWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FindAllUserServlet</servlet-name>
    <servlet-class>com.ascent.servlet.FindAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUserServlet</servlet-name>
    <url-pattern>/findAllUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ascent.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUserInfoServlet</servlet-name>
    <servlet-class>com.ascent.servlet.LoginUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserInfoServlet</servlet-name>
    <url-pattern>/loginUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ascent.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllProductServlet</servlet-name>
    <servlet-class>com.ascent.servlet.FindAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllProductServlet</servlet-name>
    <url-pattern>/findAllProductServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>authorityFilter</filter-name>
    <filter-class>com.ascent.util.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authorityFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>